<div id="main">

    <div id="topBar">
        <div class="bread-crumbs">
            当前位置：<span>版权库维护</span><em>&gt;</em><span>浏览稿源</span>
        </div>
    </div>

    <div id="searchOptions">
        <div class="inner other-m clearfix">
            <ul class="options clearfix">
                <li>
                    <div class="title">合作方名称：</div>
                    <div class="value">
                        <div class="ui-text">
                            <input type="text" data-ng-model="partnerName">
                        </div>
                    </div>
                </li>
            </ul>

            <a class="search-btn btn-blue-z" href="{{'#/browseManuscripts/1&' + clearFh(partnerName)}}">搜&nbsp;&nbsp;索</a>

        </div>
    </div>

    <div id="browseTable">

        <div id="sensitiveWordsList">
            <div class="top-info">
                <span>符合搜索条件的稿源共<var>{{ pagesTotal }}</var>条记录，分为<var>{{ pagesNum }}</var>页显示，当前为第<var>{{ page }}</var>页</span>
                <a data-ng-show="{{ userRole === 'auditor' }}" href="#/addManuscripts" class="add-btn btn-white"><s></s>添加稿源</a>
            </div>

            <div class="browse-talbe">
                <table>
                    <tr class="head">
                        <th class="op">合作方分类</th>
                        <th>合作方名称</th>
                        <th>URL地址</th>
                        <th>合作方式</th>
                        <th>有效期限</th>
                        <th>备注</th>
                        <th>单日稿件上限</th>
                        <th data-ng-show="{{ userRole === 'auditor' }}">操作</th>
                    </tr>
                    <tr data-ng-repeat="x in listData">
                        <td class="op">{{ x.class }}</td>
                        <td><span title="{{ x.sitename }}" class="sitename">{{ x.sitename }}</span></td>
                        <td><span class="url"><a href="{{ x.url }}" target="_blank" title="{{ x.url }}">{{ x.url }}</a></span></td>
                        <td data-ng-bind-html="cooperationMethod(x.type) | to_trusted"></td>
                        <td>{{ getTime(x.start_time,x.end_time) }}</td>
                        <td><span title="{{ x.remark }}" class="remark">{{ x.remark }}</span></td>
                        <td>{{ x.limit }}</td>
                        <td data-ng-show="{{ userRole === 'auditor' }}"><a class="delete" title="删除" href="javascript:void(0);"><s data-id="{{ x._id }}" data-sitename="{{ x.sitename }}" data-ng-click="deleteManuscripts($event.target)"></s></a></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="pageInner" class="clearfix">
            <div class="ui-paginator">
                <a href="#/browseManuscripts/{{ pageFirst }}" class="first">首页</a>

                <div class="pages-inner">
                    <a href="#/browseManuscripts/{{ pagePrev }}" class="prev">上一页</a>
                    <div class="pages">
                        <a href="javascript:void(0);" title="第 {{ page }} 页" class="now-page">{{ page }}/{{ pagesNum }}</a>
                        <div class="pages-select-list">
                            <ul>
                                <li data-ng-repeat="x in pagesArr" data-ng-class="{true: 'select'}[page - x == 0]">
                                    <a href="#/browseManuscripts/{{x + ssArr}}" title="第 {{x}} 页">{{x}}/{{ pagesNum }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sj"></div>
                    </div>
                    <a href="#/browseManuscripts/{{ pageNext }}" class="next">下一页</a>
                </div>

                <a href="#/browseManuscripts/{{ pageEnd }}" class="last">末页</a>
            </div>

            <a data-ng-show="{{ userRole === 'auditor' }}" href="#/addManuscripts" class="add-btn btn-white"><s></s>添加稿源</a>

        </div>

    </div>

</div>